/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap";
.container{
    overflow-x: hidden !important;
    max-width: 100%;
}
img{
    overflow-x: hidden !important;
    width: auto;
    height: 100%;
}
body{
    background-color: blueviolet;
}
.searchBar{
    padding: 10px;
}

.header{
    color: black;
    text-align: center;
    font-size: 30px;
    font-style: italic;
    font-weight: 900;
}

